<br>
<div class="container">
	<div class="card" style="width: 45 rem;" id = "comments">
		<h3 class="card-title">Comments</h3>
	</div>
	<%
	if (data) {
		var buttons = '';
		data.forEach(function(item){
			   buttons += '<div class="card" style="width: 45rem;" id="">';
			   buttons += '<h5 class="card-title">';
			   buttons += item.name;
			   buttons += ':</h5>';
			   buttons += '<p class="card-text">';
			   buttons += item.post;
			   buttons += '</p></div>';
		   }); %>
		   <%- buttons %>
	<% } %>
	<form action="<%- name %>" method="post">
		<!-- TODO: Third EJS Update -->
		<div class="form-group">
			<label for="name3" >Name (Optional):</label>
			<input type="text" class="form-control" name = "name3" id="name3" style="width: 45rem; color: white; background-color: grey;"></input>
		  </div>
		<div class="form-group">
			<label for="text">Add comment:</label>
			<textarea class="form-control" name = "text" id="text" rows="3" style="width: 45rem; color:white; background-color: grey;"></textarea>
		</div>
		<button type="submit" class="btn btn-primary btn-block" style = "width:45 rem;">Post Comment</button>
	</form>
	
</div>

</body>
</html> 