<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<link href="/views/pages/javaStyleSheet.css" rel="stylesheet">
	<title>Conditional Statements</title>
</head>
<body>
	<!-- Navigation Bar -->
	<div class="bg-img">
	  <div class="container">
	    <div class="topnav">
	      <a href="/index">Home</a>
	      <a href="/aboutUs">About Us</a>
	      <a href="/javaContent">Content</a>
				<a style="padding:0px 0px;"><form action="/conditional/setLoc" method="post"><button class="topnav">Set Location</button></form></a>
        <%
      	if (location) {
      		var loc = '';
          loc += '<a href="';
          loc += location;
          loc += '">Go To Last Location</a>';

          %>
      	<%- loc %>
      	<% } %>
        <%
      	if (username) {
      		var user = '';
      		if(username == "Not Signed In"){
            user += '<a href="/login">Login/Register</a>';
          }else{
            user += '<a> Signed in as: ';
            user += username;
            user += '</a>';
          }
          %>
      	<%- user %>
      	<% } %>
	    </div>

	  </div>
	</div>

<div class="sidenav">
  <a href="/algorithm">What is an Algorithm Anyways?</a>
  <a href="/hello">Hello World</a>
  <a href="/comments">Comments</a>
  <a href="/encoding">Number and Character Encodings</a>
  <a href="/variables">Variables</a>
  <a href="/conversions">Primitive Type Conversions</a>
  <a href="/scope">Scope, Operators and Precedence</a>
  <a href="/error">System In, Out and Error</a>
  <a href="/conditional">Conditional Statements</a>
  <a href="/switch">Switch Statements</a>
  <a href="/while_loops">While-Loops, Continue and Break</a>
  <a href="/do_while">Do-While Loops</a>
  <a href="/for_loops">For-Loops</a>
  <a href="/strings">Strings</a>
  <a href="/type_wrap">Type Wrappers, Auto-Boxing and Unboxing</a>
  <a href="/writing_methods">Writing Functions</a>
  <a href="/arrays">Arrays</a>
  <a href="/arrays_examples">Array Examples</a>
  <a href="/var_args">Varargs-Variable Length Arguments</a>
  <a href="/2D">2D Arrays</a>
  <a href="/Expressions">Catching Expressions</a>
  <a href="/Writing">Writing to a File</a>
  <a href="/Reading1">Reading and Writing Files I</a>
  <a href="/Reading2">Reading and Writing Files II</a>
  <a href="/Parsing">Parsing Strings</a>
  <a href="/Tokens">Parsing Strings into Fixed Length Tokens</a>
</div>
<div class="main">
	<br>
	<h1>
		Conditional Statements
	</h1>
	<br></br>
	<h2>Boolean Expressions</h2>
	<br>
	<pre>
		int x = 5;
		boolean test = (x == 5);
		System.out.printf("x is equal to 5: %b\n", test);

		int x = 1;
		int y = 2;
		boolean test2 = (x == y);
		System.out.printf("x is equal to y: %b\n", test2);
	</pre>
	<br></br>
	<h2>Relational Operators</h2>
	<br>
	<ul>
		<li>== (equality)</li>
		<li>!= (inequality)</li>
		<li>></li>
		<li><</li>
		<li>>=</li>
		<li><=</li>
	</ul>
	<br></br>
	<h2>Conditional Assignment</h2>
	<br>
	<pre>
		int y = (x == 0) ? 0 : 1;
		String winner = (scoreA > scoreB) ? "Anne" : "Brie";
	</pre>
	<br>
	<h2>Boolean Logical Operators</h2>
	<br>
	<ul>
		<li>&</li>
		<li>|</li>
		<li>^</li>
		<li>!</li>
	</ul>
	<br>
	<h2>If Statements</h2>
	<br>
	<pre>
		if (expr) {
		    ...
		}
	</pre>
	<br>
	<pre>
		if (expr) {
		    ...
		} else {
		    ...
		}
	</pre>
	<br>
	<pre>
		if (expr1) {
		    ...
		} else if (expr2) {
		    ...
		}
	</pre>
	<br>
	<pre>
		if (expr1) {
		    ...
		} else if (expr2) {
		    ...
		} else {
		    ...
		}
	</pre>
	<br><br>
	<h2>Nested If Statements</h2>
	<br>
	<pre>
		if (expr) {
		    if (expr) {
		        ....
		    }
		}
	</pre>
	<br></br>

<% include ../partials/footer %>
</div>
