<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<link href="/views/pages/javaStyleSheet.css" rel="stylesheet">
	<title>Numeric and Character Encodings</title>
</head>
<body>
		<!-- Navigation Bar -->
		<div class="bg-img">
		  <div class="container">
		    <div class="topnav">
		      <a href="/index">Home</a>
		      <a href="/aboutUs">About Us</a>
		      <a href="/javaContent">Content</a>
					<a style="padding:0px 0px;"><form action="/encoding/setLoc" method="post"><button class="topnav">Set Location</button></form></a>
	        <%
	      	if (location) {
	      		var loc = '';
	          loc += '<a href="';
	          loc += location;
	          loc += '">Go To Last Location</a>';

	          %>
	      	<%- loc %>
	      	<% } %>
	        <%
	      	if (username) {
	      		var user = '';
	      		if(username == "Not Signed In"){
	            user += '<a href="/login">Login/Register</a>';
	          }else{
	            user += '<a> Signed in as: ';
	            user += username;
	            user += '</a>';
	          }
	          %>
	      	<%- user %>
	      	<% } %>
		    </div>

		  </div>
		</div>

<div class="sidenav">
  <a href="/algorithm">What is an Algorithm Anyways?</a>
  <a href="/hello">Hello World</a>
  <a href="/comments">Comments</a>
  <a href="/encoding">Number and Character Encodings</a>
  <a href="/variables">Variables</a>
  <a href="/conversions">Primitive Type Conversions</a>
  <a href="/scope">Scope, Operators and Precedence</a>
  <a href="/error">System In, Out and Error</a>
  <a href="/conditional">Conditional Statements</a>
  <a href="/switch">Switch Statements</a>
  <a href="/while_loops">While-Loops, Continue and Break</a>
  <a href="/do_while">Do-While Loops</a>
  <a href="/for_loops">For-Loops</a>
  <a href="/strings">Strings</a>
  <a href="/type_wrap">Type Wrappers, Auto-Boxing and Unboxing</a>
  <a href="/writing_methods">Writing Functions</a>
  <a href="/arrays">Arrays</a>
  <a href="/arrays_examples">Array Examples</a>
  <a href="/var_args">Varargs-Variable Length Arguments</a>
  <a href="/2D">2D Arrays</a>
  <a href="/Expressions">Catching Expressions</a>
  <a href="/Writing">Writing to a File</a>
  <a href="/Reading1">Reading and Writing Files I</a>
  <a href="/Reading2">Reading and Writing Files II</a>
  <a href="/Parsing">Parsing Strings</a>
  <a href="/Tokens">Parsing Strings into Fixed Length Tokens</a>
</div>
<div class="main">
	<h1>
		<br>
		Numeric and Character Encodings
	</h1>

	<br></br>

	<p>
		A computer can only store and manipulate 0’s and 1’s .  All data that is passed through the system must be represented as 0’s and 1’s.
		<br>
		A bit can store a 0 or a 1.
		<br>
		Given n bits we can represent 2^n different values.
		<br>
		A byte is a sequence of 8 bits.
		<br>
		A byte can hold 256 distinct values: from 00000000 to 11111111.
	</p>
	<br>
	<h2>Representing Unsigned Decimal Values</h2>
	<p>
		Count to 20 in binary
	</p>
	<br>
	<h2>Numeric Conversions</h2>
	<br>
	<p>
		Binary to Decimal
		<br>
		Binary to Hexadecimal
	</p>
	<br>
	<h2>Ascii Table</h2>
	<br>
	<center>
	<img src= "images/ascii.png" height ="600px" width = "600px" alt="!Error: Image Link Broken">
	<br></br>
	</center>
	<ul>
		<li>ASCII = American Standard Code for Information Interchange</li>
		<li>Created by <a href="https://en.wikipedia.org/wiki/Internet_Assigned_Numbers_Authority">IANA</a></li>
		<li>Characters in .txt file stored as single bytes.</li>
	</ul>
	<br>
	<h2>Unicode</h2>
	<br>
	<ul>
		<li>The most recent version of <a href="https://en.wikipedia.org/wiki/Unicode">Unicode</a> contains 136,755 different characters for 139 scripts.</li>
		<li>Unicode uses up to 4 bytes per character.</li>
		<li>The first 127 Unicode characters are the ASCII characters.</li>
	</ul>

<% include ../partials/footer %>
</div>
