ml>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<link href="/views/pages/javaStyleSheet.css" rel="stylesheet">
	<title>Catching Expressions</title>
</head>
<body>
	 <!-- Navigation Bar -->
	 <div class="bg-img">
 	  <div class="container">
 	    <div class="topnav">
 	      <a href="/index">Home</a>
 	      <a href="/aboutUs">About Us</a>
 	      <a href="/javaContent">Content</a>
 				<a style="padding:0px 0px;"><form action="/Expressions/setLoc" method="post"><button class="topnav">Set Location</button></form></a>
         <%
       	if (location) {
       		var loc = '';
           loc += '<a href="';
           loc += location;
           loc += '">Go To Last Location</a>';

           %>
       	<%- loc %>
       	<% } %>
         <%
       	if (username) {
       		var user = '';
       		if(username == "Not Signed In"){
             user += '<a href="/login">Login/Register</a>';
           }else{
             user += '<a> Signed in as: ';
             user += username;
             user += '</a>';
           }
           %>
       	<%- user %>
       	<% } %>
 	    </div>

 	  </div>
 	</div>

<div class="sidenav">
  <a href="/algorithm">What is an Algorithm Anyways?</a>
  <a href="/hello">Hello World</a>
  <a href="/comments">Comments</a>
  <a href="/encoding">Number and Character Encodings</a>
  <a href="/variables">Variables</a>
  <a href="/conversions">Primitive Type Conversions</a>
  <a href="/scope">Scope, Operators and Precedence</a>
  <a href="/error">System In, Out and Error</a>
  <a href="/conditional">Conditional Statements</a>
  <a href="/switch">Switch Statements</a>
  <a href="/while_loops">While-Loops, Continue and Break</a>
  <a href="/do_while">Do-While Loops</a>
  <a href="/for_loops">For-Loops</a>
  <a href="/strings">Strings</a>
  <a href="/type_wrap">Type Wrappers, Auto-Boxing and Unboxing</a>
  <a href="/writing_methods">Writing Functions</a>
  <a href="/arrays">Arrays</a>
  <a href="/arrays_examples">Array Examples</a>
  <a href="/var_args">Varargs-Variable Length Arguments</a>
  <a href="/2D">2D Arrays</a>
  <a href="/Expressions">Catching Expressions</a>
  <a href="/Writing">Writing to a File</a>
  <a href="/Reading1">Reading and Writing Files I</a>
  <a href="/Reading2">Reading and Writing Files II</a>
  <a href="/Parsing">Parsing Strings</a>
  <a href="/Tokens">Parsing Strings into Fixed Length Tokens</a>
</div>
<div class="main">
	<h1>
    Catching Exceptions
	</h1>

	<br></br>

	<p>Consider the following code:</p>
  <br><br>

    <pre> import java.util.Scanner;

public class Driver {
    public static void main(String[] args) {
        int[] list = {2, 4, 6};
        Scanner sc = new Scanner(System.in);
        int index = 0;

        while(index != -1) {
            System.out.println("Pick a number (or -1 to stop)");
            index = sc.nextInt();
            System.out.println(list[index]);
        }
    }
} </pre>


	<br>
	<p>
	When run, if the user enters 3, an ArrayIndexOutOfBoundsException
		 will be thrown causing the program to terminate.
	</p>
	<br>
  <h2> Exceptions </h2>
 <br>
 <p> A Java Exception is an object that is created dynamically at runtime when
    some exceptional (not necessarily erroneous) condition occurs. An Exception
    object can be thought of as a message that can be thrown (to avoid handling the
     exceptional condition) or caught (to handle the exceptional condition). <br> </p>
    <br>

    <h2> The Fix</h2>
    <p> To fix the original example we can simply put the code that accesses the array
      in a try-catch block and catch the Exception that occurs and handle it. </p>
      <br>

      <pre>import java.util.Scanner;

public class Exceptions {
    public static void main(String[] args) {
        int[] list = {2, 6, 8, 1, 4, 9, 2, 5};
        Scanner sc = new Scanner(System.in);
        int index = 0;

        while(index != -1) {
            System.out.println("Pick a number (or -1 to stop)");
            index = sc.nextInt();

            try {
                System.out.println(list[index]);
            } catch (ArrayIndexOutOfBoundsException e) {
                System.out.println("Number out of bounds");  //continue
            }
        }
    }
} </pre>
<br>


<% include ../partials/footer %>
</div>
