<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<link href="/views/pages/javaStyleSheet.css" rel="stylesheet">
	<title>Reading and Writing Files 2</title>
</head>
<body>
  <!-- Navigation Bar -->
	<div class="bg-img">
	  <div class="container">
	    <div class="topnav">
	      <a href="/index">Home</a>
	      <a href="/aboutUs">About Us</a>
	      <a href="/javaContent">Content</a>
				<a style="padding:0px 0px;"><form action="/Reading2/setLoc" method="post"><button class="topnav">Set Location</button></form></a>
        <%
      	if (location) {
      		var loc = '';
          loc += '<a href="';
          loc += location;
          loc += '">Go To Last Location</a>';

          %>
      	<%- loc %>
      	<% } %>
        <%
      	if (username) {
      		var user = '';
      		if(username == "Not Signed In"){
            user += '<a href="/login">Login/Register</a>';
          }else{
            user += '<a> Signed in as: ';
            user += username;
            user += '</a>';
          }
          %>
      	<%- user %>
      	<% } %>
	    </div>

	  </div>
	</div>

<div class="sidenav">
  <a href="/algorithm">What is an Algorithm Anyways?</a>
  <a href="/hello">Hello World</a>
  <a href="/comments">Comments</a>
  <a href="/encoding">Number and Character Encodings</a>
  <a href="/variables">Variables</a>
  <a href="/conversions">Primitive Type Conversions</a>
  <a href="/scope">Scope, Operators and Precedence</a>
  <a href="/error">System In, Out and Error</a>
  <a href="/conditional">Conditional Statements</a>
  <a href="/switch">Switch Statements</a>
  <a href="/while_loops">While-Loops, Continue and Break</a>
  <a href="/do_while">Do-While Loops</a>
  <a href="/for_loops">For-Loops</a>
  <a href="/strings">Strings</a>
  <a href="/type_wrap">Type Wrappers, Auto-Boxing and Unboxing</a>
  <a href="/writing_methods">Writing Functions</a>
  <a href="/arrays">Arrays</a>
  <a href="/arrays_examples">Array Examples</a>
  <a href="/var_args">Varargs-Variable Length Arguments</a>
  <a href="/2D">2D Arrays</a>
  <a href="/Expressions">Catching Expressions</a>
  <a href="/Writing">Writing to a File</a>
  <a href="/Reading1">Reading and Writing Files I</a>
  <a href="/Reading2">Reading and Writing Files II</a>
  <a href="/Parsing">Parsing Strings</a>
  <a href="/Tokens">Parsing Strings into Fixed Length Tokens</a>
</div>
<div class="main">
	<h1>
    Reading and Writing Files II
	</h1>

	<br></br>

	<p>
  The example below uses a try-with-resources statement. This
  was added to JDK 7. When implemented this way, you don’t <br>
  have to explicitly close the streams – Java will do it for you
  when they are garbage collected.</p>
  <br>
<pre>import java.io.FileInputStream;
import java.util.Scanner;
import java.io.FileNotFoundException;
import java.io.FileOutputStream;
import java.io.PrintWriter;

public class FileIO {
    public static void main(String[] args) {

        try (Scanner sc = new Scanner(new FileInputStream("in.txt"));
            PrintWriter pw = new PrintWriter(new FileOutputStream("out.txt")))
        {

            String token;
            while (sc.hasNext()){
                token = sc.next();
                pw.println(token);
            }

        } catch (FileNotFoundException e) {
            System.out.println("File not found: " + e.toString());
            return;
        }
    }
}
</pre>




<% include ../partials/footer %>
</div>
